<div class='container mt-4'>
<h1>All Projects</h1>
<p><%= @projects.count %> projects</p>
<table class="table align-items-center">
  <thead class="thead">
    <tr class='head-row'>
      <th>Project ID</th>
      <th>Title</th>
      <th>Project Manager</th>
      <th>Team Members</th>
      <th>Bugs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.title %></td>
        <td><%= project.manager.name %></td>
        <td><%= project.users.distinct.count %></td>
        <td><%= project.bugs.count %></td>
        <td><%= link_to 'View', project, class:'btn btn-outline-info pt-0 pb-0' %></td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>
