<h1><%= @project.title%></h1>
<p><%= @project.description %></p>

<p><strong>Project Manager: </strong><%= @project.manager.name %></p>

<p>
  <strong>Assigned to: </strong>
  <% @project.users.distinct.each do |user| %>
    <%= user.name %> (<%= user.user_type%>)
  <% end %>
</p>
<p><strong>QAs: </strong>TBD</p>

