<div class='container project-details mt-4'>

  <div class='row align-items-center'>
    <div class='col-6'>
      <h1><%= @project.title%></h1>
    </div>
    <div class='col-6 text-right'>
      <%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-outline-info' %>
      <%= link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
    </div>
  </div>

  <div class='row mt-4'>
    <div class='col-5'>
      <p><strong>Project Manager: </strong><%= @project.manager.name %></p>
      <p><strong>About the Project: </strong><%= @project.description %></p>
    </div>
    <div class='col-2'>
    </div>
    <div class='col-5'>
      <p>
        <strong>Project Team: </strong>
        <% @project.users.distinct.each do |user| %>
          <p><%= user.name %> (<%= user.user_type%>)</p>
        <% end %>
      </p>
    </div>
  </div>


<%= link_to 'View Bugs', project_bugs_path(@project.id) %> <br>
<%= link_to 'Back', projects_path%> <br>

<% if current_user.user_type == 'Quality Assurance Engineer' %>
  <%= link_to 'Add Bug', new_project_bug_path(@project.id) %>
<% end %>

</div>
