<%= form_with model: [@project, @bug], remote: true do |form| %>
  <div class='mb-4'>
    <%= form.label :title, class: 'label_f'  %><br>
    <%= form.text_field :title, class: 'input_f' %>
  </div>

  <div class='mb-4'>
    <%= form.label :bug_type, 'Category', class: 'label_f'  %><br>
    <%= form.select :bug_type, ['Bug','Feature']%>
  </div>

  <div class='mb-4'>
    <%= form.label :description, class: 'label_f'  %><br>
    <%= form.text_area :description, class: 'input_f'%>
  </div>

  <div class='mb-4'>
    <%= form.label :screenshot, class: 'label_f'  %><br>
    <%= form.file_field :screenshot, class: 'input_f'%>
  </div>

  <% if @bug.id && @bug.bug_type == 'Bug' %>
  <div class='mb-4'>
    <%= form.label :status, class: 'label_f'  %><br>
    <%= form.select :status , ['New', 'Started', 'Resolved'], class: 'input_f' %>
  </div>
  <% end %>

<% if @bug.id && @bug.bug_type == 'Feature' %>
  <div class='mb-4'>
    <%= form.label :status, class: 'label_f'  %><br>
    <%= form.select :status , ['New', 'Started', 'Completed'], class: 'input_f' %>
  </div>
  <% end %>

  <div class='mb-4'>
    <%= form.label :deadline, class: 'label_f'  %><br>
    <%= form.date_field :deadline, min: Date.today, class: 'input_f'%>
  </div>

  <% if !@bug.id %>
  <%= form.hidden_field :status, :value=>'New'%>
  <% end %>

  <%= form.hidden_field :reporter_id , :value=>current_user.id %>

  <div class='mb-4'>
    <%= form.submit "#{action_name} Bug", class: 'btn-warning rounded border-0 p-2 pr-3 pl-3'%>
  </div>
<% end %>
