<%= form_with model: [@bug.project, @bug], local: true do |form| %>
  <div class='mb-4'>
    <%= form.label :title, class: 'label_f'  %><br>
    <%= form.text_field :title, class: 'input_f' %>
    <%= render partial: 'error', locals: {resource: @bug, attribute: :title}%>
  </div>

  <div class='mb-4'>
    <%= form.label :bug_type, 'Category', class: 'label_f'  %><br>
    <%= form.select :bug_type, [['Bug', 'bug'], ['Feature', 'feature']], {prompt: 'Select'}, {id:'bug_type', class: 'input_f'} %>
    <%= render partial: 'error', locals: {resource: @bug, attribute: :bug_type}%>
  </div>

  <div class='mb-4'>
    <%= form.label :status, class: 'label_f'  %><br>
    <%= form.select :status , [] ,{prompt: 'Select'}, {id:'status', class: 'input_f'} %>
    <%= render partial: 'error', locals: {resource: @bug, attribute: :status}%>
  </div>

  <div class='mb-4'>
    <%= form.label :description, class: 'label_f'  %><br>
    <%= form.text_area :description, class: 'input_f'%>
  </div>

  <div class='mb-4'>
    <%= form.label :screenshot, class: 'label_f'  %>
    <%= form.file_field :screenshot, class: 'input_f'%>
    <%= render partial: 'error', locals: {resource: @bug, attribute: :screenshot}%>
  </div>

  <div class='mb-4'>
    <%= form.label :deadline, class: 'label_f'  %><br>
    <%= form.date_field :deadline, min: Date.today, class: 'input_f'%>
    <%= render partial: 'error', locals: {resource: @bug, attribute: :deadline}%>
  </div>

  <%= form.hidden_field :reporter_id , :value=>current_user.id %>

  <div class='mb-4'>
    <%= form.submit "#{action_name} Bug", class: 'btn-warning rounded border-0 p-2 pr-3 pl-3'%>
  </div>
<% end %>
